@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", "Roboto", sans-serif;
}

.hidden-loading {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffff;
  position: fixed;
  z-index: 99999999;
  opacity: 0.3;
}

.page-container {
  background-color: #eff0f4;
  padding: 20px 0px 20px 0px;
}

.topSell-container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.topSell-label {
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

.OrderHistoryPage {
  padding: 16px 20px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
}

.line {
  display: flex;
}

.order-title-row {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.order-line-value {
  font-size: 16px;
  margin-left: 40px;
}
